{% extends "base.html" %}
{% block main %}
    <div class="col-md-12">
    <H1><b>Профиль</b></H1>
    <hr>
    <H2>Информация</H2>
    <hr>
    <H5>{{user.name}}</H5>
    <H5>{{user.phone_number}}</H5>
    <H5>{{user.group}}</H5>
    <hr>
    <H4>Рейтинг</H4>
    <p>У вас {{score}} очков</p>
    <p>Вы на {{position}} месте</p>
    <hr>
    <H2>Вы участвовали:</H2>
    {% for o in olympiads %}
        <a href="{% url 'olympiad' %}{{ o.pk }}"><h4>{{o.name}}</h4></a>
    {% endfor %}
    <hr>
    </div>
    <H2> Cообщения </H2>
    {% for m in messages %}
    <a href="{% url 'chat' %}{{ m.msg_from.pk }}">
    <div class="message info">
        <div class="message-body">
            <div class="message info">
                <h6> {{ m.msg_from }} </h6>
                <h6> <i class="fa fa-clock-o"></i> {{ m.create_time }} </h6>
            </div>
            <hr>
            <div class="message-text">
                <h5> {{ m.text }} </h5>
            </div>
        </div>
    </div>
    </a>





    {% endfor %}
    <hr>


{% endblock %}