{% extends "base.html" %}
{% block main %}
    <div class="col-md-12">
    <H1><b>Профиль</b></H1>
    <hr>
    <H2>Информация</H2>
    <hr>
    <H5>{{user.name}}</H5>
    <H5>{{user.phone_number}}</H5>
    <H5>{{user.group}}</H5>
    <hr>
    <H4>Рейтинг</H4>
    <p>У вас {{score}} очков</p>
    <p>Вы на {{position}} месте</p>
    <hr>
    <H2>Вы участвовали:</H2>
    {% for o in olympiads %}
        <a href="{% url 'olympiad' %}{{ o.pk }}"><h4>{{o.name}}</h4></a>
    {% endfor %}
    <hr>
    </div>
    <div class="col-md-12">
    <H2> Cообщения </H2>
    </div>
{% endblock %}