{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main %}

{% for e in form.non_field_errors %}
    <div class="alert_red">{{ e }}</div>
{% endfor %}

<div class="card col-md-6 offset-md-3">
<div class="card-body">
<h4 class="card-title">Регистрация</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
</form>
</div>
</div>

{% endblock %}