<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}<title>Олимпиады</title>{% endblock %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style1.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
    <header class="header">
<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href={% url 'about'%}><img src="{% static 'img/mospolytech-logo-white.png' %}" alt="Логотип Мосполитеха" id="logo"></a>
    <a class="navbar-brand" href={% url 'about'%}>Олимпиады alpha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            {% if user.is_teacher %}
                <li class="nav-item">
                    <a class="nav-link " href={% url 'teacher'%}>Преподаватель</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link " href={% url 'calendar'%}>Календарь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href={% url 'archive'%}>Архив</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href={% url 'contacts'%}>Контакты</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'profile'%}">{{ user.get_username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link " href={% url 'login'%}>Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href={% url 'signup'%}>Регистрация</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% block main %}{% endblock %}
                </div>


            </div>
        </div>